    <script src="mobile/p5.js"></script>
    <script src="mobile/p5.sound.js"></script>
    <script src="mobile/p5.sound.min.js"></script>

    <meta name="viewport" content= "width=device-width, user-scalable=no">
    <h1 id="head">A worker must have a name!</h1>
    <div id="login_div">
    Name: <input id="name" type="text" required>
    Factory #: <input id="game_id" type="text" required>
    <%# <button id="joinButton">Join</button> %>
    <br/><br/>
    <%# <h4>Messages</h4>
    <input type="text" id="msg" class="msg">
    <button id="sendButton">Send</button> %>
    <%# <button id="bumpButton" style="position: absolute;
    left: 230.6px; top: 190px; background-color: rgb(215, 48, 39); margin: auto; width: 60%; height: 60%; font-size: 50px; border-radius: 50px;">
    Bump me</button> %>
    </div>

<script src="mobile/NoSleep.min.js"></script>
<script src="mobile/shake.js"></script>
<script src="mobile/sketch.js"></script>

<script>

  var myShakeEvent = new Shake({
      threshold: 9, // optional shake strength threshold was 15
      timeout: 100 // optional, determines the frequency of event generation was 100
  });

  var noSleep = new NoSleep();

  myShakeEvent.start();

  function orientationChanged() {
      playSoundAndSendMessage();
  }

  window.addEventListener("shake", function () {
      orientationChanged();
  }, false);

  //$(document).ready(function()
  function runAtStart()
  {

    noSleep.enable();
    var supportsOrientationChange = "onorientationchange" in window,
            orientationEvent = supportsOrientationChange ? "orientationchange" : "resize";




    //$("#bumpButton").click(function()
    {

      var name = $("#name").val()
      var game_id = $("#game_id").val()
      channel = app.setupPlayer(name, game_id)


      // joins the channel
      channel.join()
        .receive("ok", ({game_id: game_id}) => {
          //$('#head').html("Welcome to factory #" + game_id);
          $('#head').html("Is there Factory #" + game_id + " ?");
          console.log('player tried to join game ', game_id);
          //if (game_id >= 0){

          //}
        })
        .receive("error", error => { console.log("error", error) })
      channel
        .on("player:msg", msg => {
            console.log('got message', msg);
            if (msg.player_id){
              setNewSound(msg.message);
              bumpButton.mousePressed(playSoundAndSendMessage);
              $('#login_div').remove();
              //$('#head').append(", "+msg.player_id);
              $('#head').html("Welcome to factory #" + game_id + ", "+msg.player_id);
            }
            console.log('got message', msg);
          })
    }
    //)

    //$('#sendButton').click(function() {
    //  var msg = $("#msg").val()
    //  channel.push("msg", msg) //{msg: msg}
    //})


  }
</script>
