    <title>Marshmellom Swarm</title>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.22.0/dist/phaser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.js"></script>
    <script src="beats.js"></script>
    <script src="players.js"></script>
    <script src="fallingitems.js"></script>
    <script src="app.js"></script>
	  <script src="beats.js"></script>
    <script src="instruments.js"></script>
    <script src="scoring.js"></script>
    <script src="conveyorbelt.js"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>

  <%# <h1 id="head">Repair factory #</h1> %>
  <%# <h2>Messages</h2>
  <div id="messages" class="messages"></div>


  <h4>Send</h4>
  <input type="text" id="msg" class="msg">
  <input type="text" id="player" class="player">
  <button id="sendButton">Send</button>

  <div class="col-md-7">
    <canvas id="canvas" class="canvas" width="200" height="200"></canvas>
  </div> %>

<script type="text/javascript">
  var game = new Phaser.Game(config);
</script>

<script>

    createFakePlayers = false;

    $(document).ready(function() {
      let channel;
      //todo remove
      //let players;

      let msgdiv = $('#messages')
      app.setupScreen(function(chan, game_id) {
        channel = chan;
        factoryNumber = game_id;

        //$('#head').append(" " + game_id)
        //msgdiv.append(`<br/>started game with id${game_id}`)

        channel.on("player:joined", ({player_id: player}) => {
          msgdiv.append(`<br/>${player} joined`)
          const playerType = players.add(player);

          if (playerType == undefined){
            return;
          }

          //telling players device what to do

          //let file_id = "assets/sample"+playerType+".m4a";
          let player_id = player;
          let message = {message: playerType};
          console.log("Message : " + message.message);
          message.player_id = player_id;
          message.msg_type = "player_type";

          channel.push("msg", message);
        });
        channel.on("player:message", msg => {
          console.log("got message", msg)
          msgdiv.append(`<br/>${msg.player_id} says: ${msg.message}`)
          if (msg.message == "bump"){
            players.fire(msg.player_id);
          }
          //makeNewName(msg.message);
        });
      })

      $('#sendButton').click(function() {
        msg = $('#msg').val()
        player_id = $('#player').val()

        message = {message: msg}
        if (player_id.trim() != ''){
          message.player_id = player_id
        }

        channel.push("msg", message)
      })

    })
</script>
